/*
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
React :: RoboFriends Project :: Card List Css
*/

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
}
