/*
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
React :: RoboFriends Project :: Hello Css
*/

.hello {
  padding: 4rem;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

.hello > h1 {
  margin: 0;
  text-align: center;
  font-family: "SEGA LOGO FONT";
  color: #0ccac4;
  font-size: 3rem;
  font-weight: 200;
}
