/*
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
React :: RoboFriends Project :: Scroll Css
*/

.scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 511px) and (min-height: 400px) { .scroll {
  height: calc(100vh - 221px);
  overflow-y: scroll;
}}

@media only screen and (min-width: 512px) and (min-height: 700px) { .scroll {
  height: calc(100vh - 256px);
  overflow-y: scroll;
}}
