/*
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
React :: RoboFriends Project :: Search Box Css
*/

.search-box {
  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
}
