/*
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
React :: RoboFriends Project :: Search Box Css
*/

.search-box {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.search-box > input {
  border: 3px solid #19a974;
  padding: 1rem;
  background-color: #cdecff;
  text-align: center;
  font-size: 1rem;
}